:root {
  --primary-Soft-blue: hsl(215, 51%, 70%);
  --primary-Cyan: hsl(178, 100%, 50%);
  /* Nuetral */
  --very-dark-blue-MainBG: hsl(217, 54%, 11%);
  --very-dark-blue-CardBG: hsl(216, 50%, 16%);
  --very-dark-blue-Line: hsl(215, 32%, 27%);
  --white: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  background: var(--very-dark-blue-MainBG);
  color: var(--primary-Soft-blue);
  font-weight: 300;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
h3 {
  color: var(--white);
}

h1 {
  font-size: 2.4rem;
  margin-top: 2.3rem;
  margin-bottom: 1.2rem;
}

/* Card */

.card {
  width: 327px;
  padding: 3.5rem;
  background: var(--very-dark-blue-CardBG);
  border-radius: 15px;
}

.card__image {
  width: 100%;
  border-radius: 8px;
}

.card__content-profile {
  display: flex;
  align-items: center;
  margin: 0;
}

.card__content-profile-img {
  width: 33px;
  height: 33px;
  margin-right: 1.7rem;
  border-radius: 100%;
  border: 1px solid var(--white);
}

.card__content-profile-text {
  margin: 0;
  font-size: 1.4rem;
}

.card__content-time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-Soft-blue);
  padding: 1.6rem 0;
  margin-bottom: 1.5rem;
}

.card__content-text {
  margin: 0;
}

.card__content-icon-container {
  display: flex;
  align-items: center;
}

.card__content-time-frame {
  display: flex;
  align-items: center;
}

.card__content-time-days {
  margin-left: 0.8rem;
  font-size: 1.4rem;
}

.card__content-ico-name {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-Cyan);
  font-weight: 400;
}

.card__content-profile-name {
  color: var(--white);
}

/* Media */
@media screen and (min-width: 678px) {
  .card {
    width: 350px;
  }
}
